<!doctype html>
<title>Is the greenbelt dry?</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<main class="container" role="main">
  <div class="row">
    <div class="col-md">
      <h1>Is the greenbelt dry enough to climb?</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md">
      {% if greenbelt_dry %}
        <h2>probably</h2>
      {% else %}
       <h2>probably not</h2>
      {% endif %}
      <div class="msg"> {{ msg }} </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md">
      <h3>Past 3 day weather</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">{{ weather_summary[0].get("obsTimeLocal") }}</th>
            <th scope="col">{{ weather_summary[1].get("obsTimeLocal") }}</th>
            <th scope="col">{{ weather_summary[2].get("obsTimeLocal") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Temperature high (F)</th>
            <td>{{ weather_summary[0].get("tempHigh") }}</td>
            <td>{{ weather_summary[1].get("tempHigh") }}</td>
            <td>{{ weather_summary[2].get("tempHigh") }}</td>
          </tr>
          <tr>
            <th scope="row">Total precipitation (inches)</th>
            <td>{{ weather_summary[0].get("precipTotal") }}</td>
            <td>{{ weather_summary[1].get("precipTotal") }}</td>
            <td>{{ weather_summary[2].get("precipTotal") }}</td>
          </tr>
          <tr>
            <th scope="row">Solar radiation high</th>
            <td>{{ weather_summary[0].get("solarRadiation") }}</td>
            <td>{{ weather_summary[1].get("solarRadiation") }}</td>
            <td>{{ weather_summary[2].get("solarRadiation") }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>
<footer class="footer">
  <div class="container">
    <div>Have feedback or want to make this site better?</div>
    <div>Submit an issue or PR to <a href="https://github.com/soapy1/is-the-greenbelt-dry">is-the-greenbelt-dry</a></div>
  </div>
</footer>

