<!doctype html>
<title>Is the greenbelt dry?</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<main class="container" role="main">
  <div class="row">
    <div class="col-md">
      <h1>Is the greenbelt dry enough to climb?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="msg"> {{ msg }} </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md">
      Want to know if you can swim at the greenbelt?
      Check this out <a href=http://www.greenbeltnow.com/>greenbeltnow.com</a>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md">
	    <h1>Be careful out there! Check out <a href=https://www.accessfund.org/open-gate-blog/climbing-during-the-coronavirus-pandemic>Access Fund's</a> guidelines for pandemic climbing.</h1>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div>Have feedback or want to make this site better?</div>
    <div>Submit an issue or PR to <a href="https://github.com/soapy1/is-the-greenbelt-dry">is-the-greenbelt-dry</a></div>
  </div>
</footer>

